DJANGO_SETTINGS_MODULE=photition.settings
SECRET_KEY=django-insecure-dev-key-change-me
DEBUG=True
IS_DEBUG=True

DB_HOST=
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_PORT=
DB_SSL_MODE=

REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
VK_CLIENT_ID=
VK_CLIENT_SECRET=

DATABASE_URL=
REDIS_URL=redis://redis:6379/0
CELERY_BROKER_URL=redis://redis:6379/1